* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

#mainHeader {
  width: 100%;
  height: 64px;
  background-color: rgba(110, 105, 104, 0.7);
  margin: 0 auto;
  padding: 24px 0;
}

#mainHeader ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 540px;
}

#mainHeader li a {
  height: 24px;
  text-decoration: none;
  width: auto;
  text-align: center;
  color: white;
  padding: 0 24px;
}

#logoBg {
  height: 100vh;
  width: 100vw;
  background: url(./assets/concrete-223838.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoBg img {
  display: block;
  width: 100%;
  max-width: 680px;
  height: auto;
}

#aboutMe {
  background: url(./assets/about-me-bg.jpg) center/cover no-repeat;
  background-attachment: fixed;
  padding: 80px 24px;
  height: 100vh;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutMe span {
  width: 100vw;
  display: block;
  padding: 2rem;
  background: white;
  margin: 0 15% 0 40%;
}

#projects {
  height: 100vh;
  width: 100vw;
  background: url(./assets/concrete-223838.jpg) center/cover no-repeat;
  display: flex;
}

#contactFormBG {
  background: url(./assets/contact-from-bg.jpg) center/cover no-repeat;
  height: 708px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactFormContainer {
  background-color: white;
  width: 383px;
  height: 465px;
  text-align: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

footer {
  height: 98px;
  width: 100%;
  background-color: rgb(47, 46, 46);
  display: flex;
  flex-direction: column;
}
